.ingredients {
	&__name {
		margin: 20px 0;
		font-weight: 400;
		span {
			font-weight: 100;
			color: rgb(163, 162, 162);
		}
	}
	ul {
		li {
			font-weight: 100;
			font-size: 1.6rem;
			margin: 15px 0;
			list-style: inside;
			color: rgb(163, 162, 162);
		}
	}
}
